@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Global Font Setup */
body {
  font-family: 'Karla', sans-serif;
}

/* Karla Font Classes with Variable Weights */
.karla-light {
  font-family: 'Karla', sans-serif;
  font-weight: 200;
}

.karla-regular {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.karla-bold {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

.karla-extrabold {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
}

.karla-italic {
  font-family: 'Karla', sans-serif;
  font-style: italic;
}


:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

.bg-primary{
  @apply bg-white dark:bg-black;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-slate-900 dark:text-white;
}

.header {
  @apply fixed top-0 w-full z-50 shadow-md backdrop-blur-md bg-white/50 dark:bg-[#121212]/50;
}

.footer{
  @apply bg-white dark:bg-black;
}